# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches y logs
*.log
*.out
*.bak
*.swp
*.tmp

# Entornos virtuales
venv/
env/
.extdoc/
.extdoc
.venv/
ENV/
env.bak/

# Archivos de configuración de IDEs
.vscode/
.idea/
*.code-workspace

# macOS
.DS_Store

# Archivos de test / cobertura
.coverage
htmlcov/
.cache/
.tox/
.pytest_cache/

# Archivos de paquetes
*.egg-info/
*.egg
dist/
build/

# Archivos sensibles
*.env
.env.*
secrets.json

# FastAPI / Uvicorn
instance/
*.db

# Carpetas personalizadas de modelos, data, etc.
data/
models/
__tests__/